@import url("./reset.css");

:root {
  --background-color-one: rgb(24, 23, 29);
  --background-color-two: rgb(34, 32, 38);
  --font-color-one: rgb(217, 216, 218);
  --font-color-two: #1c1a1a;
  --status: rgb(37, 157, 61);
}

* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  position: relative;
  background-color: var(--background-color-one);
  color: var(--font-color-one);
}


/***    **  Main Styles **    ***/

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-header {
  width: 260px;
  background-color: var(--background-color-two);
  border: 2px solid var(--background-color-two);
  border-radius: 5px 5px 0px 0px;

}

.content {
  width: 260px;
  background-color: var(--background-color-one);
  border: 2px solid var(--background-color-two);
  border-radius: 0px 0px 5px 5px;
  padding: 10px;

}

section {
  padding-bottom: 20px;
}

h3 {
  font-size: 12px;
  text-align: center;
  margin: 5px 5px;
}

p {
  font-size: 15px;
  margin: 1px 1px;
}

.status {
  background-color: var(--status);
  border-radius: 5px 5px 5px 5px;
}