@charset "utf-8";

:root {
    --background-dark: rgb(24, 23, 22);

}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    background-color: var(--background-dark);
}


/*-------------------------------*/
/* Component                     */
/*-------------------------------*/

main {
    padding: 60px 0;
}

h2, h3, p, span {
    color: #fff
}

h2 {
    font-size: 24px;
}

p, span {
    font-size: 18px;
}

p:first-of-type {
    margin-top: 30px;
}

button {
    margin-top: 30px;
    width: 120px;
    height: 46px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

form {
    margin-top: 30px;
    width: 400px;
    font-size: 0;
}


input[type=text]{
    width: 100%;
    padding: 0 15px;
    background-color: rgb(255 255 255 / 0.5);
    border: rgb(255 255 255 / 0.5);
}

form input {
    height : 46px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

input[type=button]{
    width: 120px;
    margin-top: 15px;
    font-weight: 600;
}

input[type=button] + input[type=button] {
    margin-left: 15px;
}

 .asign {
    background-color: #007fff;
 }

 .replace {
    background-color: #fff;
    color: #007fff;
 }

 .copy{
    background-color: #ff007f;
 }